    <div class="row">
      <ul id="footer-home" class="ten centered">
				<li><a href="{{ site.baseurl }}/research">Research</a></li>
				<li><a href="{{ site.baseurl }}/enseignements">Enseignements</a></li>
				<li><a href="{{ site.baseurl }}/files/CV.pdf">CV</a></li>
        <li><a href="{{ site.baseurl }}/logiciels">Logiciels</a></li>
        <li><a href="{{ site.baseurl }}/archives">Archives</a></li>
      </ul>
    </div>

<script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
